
.waterlomen {
    color: darkkhaki
}

.title {
    border: 5px purple solid;
    background-color: blueviolet;
    color:white;
    display:inline
}
a {    
    background-color: aqua;
    color: blueviolet;
    text-decoration: none;
    border-radius: 10%;
    padding: 4px;
    transition: color 0.5s, background-color 0.5s, box-shadow 1s;


    
}
button:active{
    color:black;
    transform: scale(.7) translateY(5px) translateX(10px) skewX(20deg);
    box-shadow:none;
}
a:hover {
    background-color: aqua;
    color: violet;
    box-shadow: 3px 3px 3px darkblue;
}
