
*{
    background-color:lightyellow ;
    cursor: url('cursor.png'), auto;
}


.title{
    background-color: orange;
    display:inline;
    border-radius: 5%; 
    transition: color 0.5s, background-color 0.5s;
}
.title:hover{
    background-color:yellow;
    color: orange;
}
a {    
    display:inline-block;   
    background-color: yellow;
    color: darkgoldenrod;
    text-decoration: none;
    border-radius: 10%;
    padding: 4px;
    transition: color 0.5s, background-color 0.5s, box-shadow 1s;


    
}
button:active{
    color:black;
    transform: scale(.7) translateY(5px) translateX(10px) skewX(20deg);
    box-shadow:none;
}
a:hover {
    background-color: orange;
    color: black;
    box-shadow: 7px 7px 7px yellow;
}

img{
    background: none;
}