*{
    background-color:lightyellow;
    cursor: url('../cursor.png'), auto;
}

.press{
    background-color:yellow;
    color:orange;
    border-radius: 10%;
    transition: background-color 0.5s, color 0.5s,box-shadow 0.5s;
    display:inline;
}
.press:hover{
    background-color:orange;
    color:yellow;
    box-shadow: 5px 5px 5px yellow;
}
.explaination{
    padding: 2px;
    color:orange;
    box-shadow: 10px 5px 5px orange, inset 100em 100em yellow
}
.words{
    background-color:yellow
}
img{
    background-color:yellow;
    color:orange;
    border-radius: 10%;
 

}
.logo{
    transition: background-color 0.5s, color 0.5s;
}
.logo:hover{
    background-color:orange;
    color:yellow;
}

s{
    background:none;
}
sup{
    background:none;
}
